venv/
__pycache__/
.ipynb_checkpoints
docker/
.env
data/
explore/
luigi_targets/
publish/
*.env
.git
dev_config.py
venv
.github
.ideia
.pytest_cache
.scannerwork
.venv
.vscode
coverage-reports
docker
docs
htmlcov
.editorconfig
.gitignore
*.csv
*.xlsx
.ipynb
online_app/
market_basket_analysis/