beautifulsoup4==4.11.1
deprecation==2.1.0
docutils==0.17.1
gcsfs>=0.3.0,<0.7
google-auth
google-auth-httplib2
google-cloud-bigquery>=2.26.0
google-cloud-bigquery-storage
google-cloud-core>=1.4.1
google-cloud-storage
python-dotenv
requests
retry
Sphinx==5.3.0
sphinx_rtd_theme==1.1.1
tqdm
urllib3